<div class="row">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info text-white">
    <p><i class="fa fa-arrow-left"></i></p>
    <h4 class="text-center navbar-brand"> Registration </h4>
  </nav>
</div>
<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3> Registration </h3>
    </div>
  </div>
</div><br>
<div class="container-fluid" style="background-color: #F2F2F2">
  <div class="row"><br><br>
    <div class="col-12">
        <div class="card-body">
          <div>
            <form>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <input style="border-radius: 25px; border: none" placeholder="First name" class="form-control form-control-lg"/>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input style="border-radius: 25px; border: none" placeholder="Last name" class="form-control form-control-lg"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input style="border-radius: 25px; border: none" placeholder="Enter your email" class="form-control form-control-lg"/>
              </div>
              <div class="form-group">
                <input style="border-radius: 25px; border: none" placeholder="Institution / hospital " class="form-control form-control-lg"/>
              </div>
              <div class="form-group">
                <input style="border-radius: 25px; border: none" placeholder="Phone " class="form-control form-control-lg"/>
              </div>
            </form>
            <br><br>
            <div class="row">
              <button routerLink="/dashboard" style="border-radius: 25px" class="btn btn-info col-8 offset-2"> Register </button>
            </div><br><br>
            <div class="row">
              <div class="col-4 offset-8 col-sm-2 offset-sm-10">
                <a routerLink="/dashboard" style="color: red" class="pull-right"> skip >>> </a>
              </div>
            </div>
          </div>
        </div>
      <br>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer fixed-bottom font-small blue">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-chart-bar" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
      <div class="col-3">
        <i routerLink="/dashboard" class="fa fa-home" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
      <div class="col-3">
        <i routerLink="/profile" class="fa fa-user" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
      <div class="col-3">
        <i class="fa fa-bars" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
    </div>
  </div>

</footer>
<!-- Footer -->
