<p>user!</p>
<!-- Footer -->
<footer class="page-footer fixed-bottom font-small text-dark" style="background-color: #fff">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-chart-bar" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
        </div>
        <div class="col-3">
          <i routerLink="/dashboard" class="fa fa-home" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
        </div>
        <div class="col-3">
          <i routerLink="/profile" class="fa fa-user" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
        </div>
        <div class="col-3">
          <i class="fa fa-bars" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
        </div>
      </div>
    </div>
  
  </footer>
  <!-- Footer -->
  
