<div class="row">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info text-white">
    <p><i class="fa fa-arrow-left"></i></p>
    <h4 class="text-center navbar-brand"> Dashboard </h4>
  </nav>
</div>
<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="card-title">
            <h6> Neonatal Weight Gain Calculator </h6>
          </div>
        </div>
      </div><br>
      <div class="card shadow">
        <div class="card-body">
          <div class="card-title">
            <h6> Chronological Age Calculator </h6>
          </div>
        </div>
      </div><br>
      <div class="card shadow">
        <div class="card-body">
          <div class="card-title">
            <h6> Corrected Age Calculator </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<!-- Footer -->
<footer class="page-footer fixed-bottom font-small text-dark" style="background-color: #fff">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-chart-bar" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
      <div class="col-3">
        <i routerLink="/dashboard" class="fa fa-home" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
      <div class="col-3">
        <i routerLink="/profile" class="fa fa-user" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
      <div class="col-3">
        <i class="fa fa-bars" style="font-size: 25px; padding: 17px; cursor: pointer;"></i>
      </div>
    </div>
  </div>

</footer>
<!-- Footer -->
